body { 
  background-color: #d5f4e6;
  padding: 30px;
  color: black;
}
nav {
  padding: 30px;
  background-color: #c0ded9;
    position: sticky;
  top: 0;
  text-shadow: 1px 1px 0 #444;
  color-black;
}
header {
  padding: 30px;
    height: 70%;
    background-image: url('http://mukuro.net/image/gray-sofas-ideas/gray-sofa-idea-stunning-grey-couch-living-room-contemporary-amazing-design-blue-and-yellow-finest-dark-also-paint-furniture-loveseat-uk-ikea-sofascore-cheap-decor-pillow.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;  
}
H1 {
  text-align: center;
}
main {
  padding-top: 15px;
  display:grid;
  grid-template-areas:
    'aside article article'
    'aside footer footer';
  grid-gap: 30px;
}
aside {
  grid-area: aside;
  padding: 30px;
  background-color: #c0ded9;
  color: black;
}
article {
  grid-area: article;
  padding: 30px;
  backround-color: #c0ded9;
}
footer {
  grid-area: footer;
  padding: 30px;
  background-color: #c0ded9;
  color: black;
}
    
  
  
