body { 
  background-color:#d5f4e6 ;
  padding: 36px
    color-black
}
nav {
  padding: 36px;
  background-color:#c0ded9
    position: sticky;
  top: 0;
  text-shadow: 1px 1px 0 #444
  color-black;
}
header {
  padding: 30px
    height: 70%
    background-image
    background-size
    background-
  
  
